<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banyan.tube.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.banyan.tube.entity.Video">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="owner" jdbcType="INTEGER" property="owner" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="statue" jdbcType="INTEGER" property="statue" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="links" jdbcType="VARCHAR" property="links" />
    <result column="up" jdbcType="INTEGER" property="up" />
    <result column="down" jdbcType="INTEGER" property="down" />
    <result column="reward" jdbcType="INTEGER" property="reward" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="accredit" jdbcType="TINYINT" property="accredit" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
  </resultMap>
  <sql id="Base_Column_List">
    id, owner, create_time, update_time, statue, title, views, tags, links, up, down, 
    reward, duration, description, accredit, type, cover
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from tube_video 
    where owner = #{owner,jdbcType=INTEGER}
  </select>	
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tube_video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tube_video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.banyan.tube.entity.Video">
    insert into tube_video (id, owner, create_time, 
      update_time, statue, title, 
      views, tags, links, 
      up, down, reward, duration, 
      description, accredit, type, 
      cover)
    values (#{id,jdbcType=INTEGER}, #{owner,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{statue,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{views,jdbcType=INTEGER}, #{tags,jdbcType=VARCHAR}, #{links,jdbcType=VARCHAR}, 
      #{up,jdbcType=INTEGER}, #{down,jdbcType=INTEGER}, #{reward,jdbcType=INTEGER}, #{duration,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{accredit,jdbcType=TINYINT}, #{type,jdbcType=INTEGER}, 
      #{cover,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.banyan.tube.entity.Video">
    insert into tube_video
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="statue != null">
        statue,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="views != null">
        views,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="links != null">
        links,
      </if>
      <if test="up != null">
        up,
      </if>
      <if test="down != null">
        down,
      </if>
      <if test="reward != null">
        reward,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="accredit != null">
        accredit,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="cover != null">
        cover,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="views != null">
        #{views,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="links != null">
        #{links,jdbcType=VARCHAR},
      </if>
      <if test="up != null">
        #{up,jdbcType=INTEGER},
      </if>
      <if test="down != null">
        #{down,jdbcType=INTEGER},
      </if>
      <if test="reward != null">
        #{reward,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="accredit != null">
        #{accredit,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.banyan.tube.entity.Video">
    update tube_video
    <set>
      <if test="owner != null">
        owner = #{owner,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="views != null">
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="links != null">
        links = #{links,jdbcType=VARCHAR},
      </if>
      <if test="up != null">
        up = #{up,jdbcType=INTEGER},
      </if>
      <if test="down != null">
        down = #{down,jdbcType=INTEGER},
      </if>
      <if test="reward != null">
        reward = #{reward,jdbcType=INTEGER},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="accredit != null">
        accredit = #{accredit,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.banyan.tube.entity.Video">
    update tube_video
    set owner = #{owner,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      statue = #{statue,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      tags = #{tags,jdbcType=VARCHAR},
      links = #{links,jdbcType=VARCHAR},
      up = #{up,jdbcType=INTEGER},
      down = #{down,jdbcType=INTEGER},
      reward = #{reward,jdbcType=INTEGER},
      duration = #{duration,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      accredit = #{accredit,jdbcType=TINYINT},
      type = #{type,jdbcType=INTEGER},
      cover = #{cover,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>