<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: head(title=~{::title/text()})">
		<title>Users : View all</title>
	</head>
	<body>
		<div class="container">
			<div th:replace="fragments :: navbar"></div>
			<div class="float-right mt-2">
				<a class="btn btn-primary btn-sm" href="form.html" th:href="@{/(form)}">Create User</a>
			</div>
			<h4 class="float-left mt-2">Users : View all</h4>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>title</th>
						<th>views</th>
						<th>owner</th>
						<th>tags</th>
						<th>links</th>
						<th>The summary</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${videos.empty}">
						<td colspan="5">No video</td>
					</tr>
					<tr th:each="video : ${videos}">
						<td th:text="${video.video.id}"></td>
						<td th:text="${video.video.title}"></td>
						<td th:text="${video.user.name}"></td>
						<td th:text="${video.video.views}"></td>
						<td th:text="${video.video.tags}"></td>
						<td th:text="${video.video.links}"></td>
						<td><a href="view.html" th:href="@{'/video/' + ${video.video.id}}"
							th:text="${video.video.title}"> The summary </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
