<!DOCTYPE html>
<html>
  <head>
    <title>上传视频</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=1440, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="data/apple-touch-icon.png" rel="apple-touch-icon"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/上传视频/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/上传视频/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (全局导航) -->

      <!-- 背景 (Dynamic Panel) -->
      <div id="u1476" class="ax_default" data-label="背景">
        <div id="u1476_state0" class="panel_state" data-label="State1" style="">
          <div id="u1476_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 热区占位 (Hot Spot) -->
      <div id="u1477" class="ax_default" data-label="热区占位">
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1478" class="ax_default" data-left="94" data-top="15" data-width="50" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u1479" class="ax_default _默认样式">
          <div id="u1479_div" class=""></div>
          <div id="u1479_text" class="text ">
            <p><span>LOGO</span></p>
          </div>
        </div>
      </div>

      <!-- 用户菜单 (Dynamic Panel) -->
      <div id="u1480" class="ax_default" data-label="用户菜单">
        <div id="u1480_state0" class="panel_state" data-label="未登录" style="">
          <div id="u1480_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u1481" class="ax_default _默认样式">
              <div id="u1481_div" class=""></div>
              <div id="u1481_text" class="text ">
                <p><span style="font-family:'FontAwesome';font-weight:400;font-size:18px;"></span><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-weight:700;"> log in</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1482" class="ax_default _默认样式">
              <div id="u1482_div" class=""></div>
              <div id="u1482_text" class="text ">
                <p><span style="font-family:'FontAwesome';font-weight:400;font-size:18px;"></span><span style="font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-weight:700;"> Register</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u1480_state1" class="panel_state" data-label="已登录" style="visibility: hidden;">
          <div id="u1480_state1_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u1483" class="ax_default _默认样式">
              <div id="u1483_div" class=""></div>
              <div id="u1483_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- 下拉菜单 (Dynamic Panel) -->
            <div id="u1484" class="ax_default ax_default_hidden" data-label="下拉菜单" style="display:none; visibility: hidden">
              <div id="u1484_state0" class="panel_state" data-label="State1" style="">
                <div id="u1484_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1485" class="ax_default _默认样式">
                    <div id="u1485_div" class=""></div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1486" class="ax_default _默认样式">
                    <div id="u1486_div" class=""></div>
                    <div id="u1486_text" class="text ">
                      <p><span>Rewards</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1487" class="ax_default _默认样式">
                    <div id="u1487_div" class=""></div>
                    <div id="u1487_text" class="text ">
                      <p><span>奖池</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1488" class="ax_default _默认样式">
                    <div id="u1488_div" class=""></div>
                    <div id="u1488_text" class="text ">
                      <p><span>Comments</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1489" class="ax_default _默认样式">
                    <div id="u1489_div" class=""></div>
                    <div id="u1489_text" class="text ">
                      <p><span>Videos</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1490" class="ax_default _默认样式">
                    <div id="u1490_div" class=""></div>
                    <div id="u1490_text" class="text ">
                      <p><span>Log out</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1491" class="ax_default _默认样式">
                    <div id="u1491_div" class=""></div>
                    <div id="u1491_text" class="text ">
                      <p><span>BBN</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1492" class="ax_default _默认样式">
              <div id="u1492_div" class=""></div>
              <div id="u1492_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1493" class="ax_default _默认样式">
              <div id="u1493_div" class=""></div>
              <div id="u1493_text" class="text ">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1494" class="ax_default _默认样式">
        <div id="u1494_div" class=""></div>
        <div id="u1494_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- 搜索栏 (Dynamic Panel) -->
      <div id="u1495" class="ax_default ax_default_hidden" data-label="搜索栏" style="display:none; visibility: hidden">
        <div id="u1495_state0" class="panel_state" data-label="State1" style="">
          <div id="u1495_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1496" class="ax_default _默认样式">
        <div id="u1496_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1497" class="ax_default" data-left="195" data-top="19" data-width="514" data-height="53">

        <!-- Unnamed (Rectangle) -->
        <div id="u1498" class="ax_default _默认样式">
          <div id="u1498_div" class=""></div>
        </div>

        <!-- 输入框 (Text Field) -->
        <div id="u1499" class="ax_default _默认样式" data-label="输入框">
          <input id="u1499_input" type="text" value="" maxlength="20"/>
        </div>

        <!-- 图标 (Rectangle) -->
        <div id="u1500" class="ax_default _默认样式" data-label="图标">
          <div id="u1500_div" class=""></div>
          <div id="u1500_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1501" class="ax_default icon">
        <img id="u1501_img" class="img " src="images/网站首页/u43.png"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1502" class="ax_default icon">
        <img id="u1502_img" class="img " src="images/网站首页/u45.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1503" class="ax_default _默认样式">
        <div id="u1503_div" class=""></div>
        <div id="u1503_text" class="text ">
          <p><span>Home</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1504" class="ax_default _默认样式">
        <div id="u1504_div" class=""></div>
        <div id="u1504_text" class="text ">
          <p><span>Hot Videos</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1505" class="ax_default _默认样式">
        <div id="u1505_div" class=""></div>
        <div id="u1505_text" class="text ">
          <p><span>New Videos</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1506" class="ax_default _默认样式">
        <div id="u1506_div" class=""></div>
        <div id="u1506_text" class="text ">
          <p><span>Recommand</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1507" class="ax_default _默认样式">
        <div id="u1507_div" class=""></div>
        <div id="u1507_text" class="text ">
          <p><span>History</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u1508" class="ax_default icon">
        <img id="u1508_img" class="img " src="images/网站首页/u107.png"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u1509" class="ax_default image">
        <img id="u1509_img" class="img " src="images/网站首页/u108.png"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u1510" class="ax_default image">
        <img id="u1510_img" class="img " src="images/网站首页/u109.png"/>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u1511" class="ax_default image">
        <img id="u1511_img" class="img " src="images/网站首页/u110.png"/>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u1512" class="ax_default line">
        <img id="u1512_img" class="img " src="images/网站首页/u111.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1513" class="ax_default _默认样式">
        <div id="u1513_div" class=""></div>
        <div id="u1513_text" class="text ">
          <p><span>TAGS</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1514" class="ax_default _默认样式">
        <div id="u1514_div" class=""></div>
        <div id="u1514_text" class="text ">
          <p><span>btc</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1515" class="ax_default _默认样式">
        <div id="u1515_div" class=""></div>
        <div id="u1515_text" class="text ">
          <p><span>eos</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1516" class="ax_default _默认样式">
        <div id="u1516_div" class=""></div>
        <div id="u1516_text" class="text ">
          <p><span>news</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1517" class="ax_default _默认样式">
        <div id="u1517_div" class=""></div>
        <div id="u1517_text" class="text ">
          <p><span>bbn</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1518" class="ax_default _默认样式">
        <div id="u1518_div" class=""></div>
        <div id="u1518_text" class="text ">
          <p><span>btc</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1519" class="ax_default _默认样式">
        <div id="u1519_div" class=""></div>
        <div id="u1519_text" class="text ">
          <p><span>eos</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1520" class="ax_default _默认样式">
        <div id="u1520_div" class=""></div>
        <div id="u1520_text" class="text ">
          <p><span>news</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1521" class="ax_default _默认样式">
        <div id="u1521_div" class=""></div>
        <div id="u1521_text" class="text ">
          <p><span>bbn</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1522" class="ax_default _默认样式">
        <div id="u1522_div" class=""></div>
        <div id="u1522_text" class="text ">
          <p><span>btc</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1523" class="ax_default _默认样式">
        <div id="u1523_div" class=""></div>
        <div id="u1523_text" class="text ">
          <p><span>eos</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1524" class="ax_default _默认样式">
        <div id="u1524_div" class=""></div>
        <div id="u1524_text" class="text ">
          <p><span>news</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1525" class="ax_default _默认样式">
        <div id="u1525_div" class=""></div>
        <div id="u1525_text" class="text ">
          <p><span>bbn</span></p>
        </div>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u1526" class="ax_default line">
        <img id="u1526_img" class="img " src="images/网站首页/u111.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1527" class="ax_default _默认样式">
        <div id="u1527_div" class=""></div>
        <div id="u1527_text" class="text ">
          <p><span>Banyan Network </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1528" class="ax_default _默认样式">
        <div id="u1528_div" class=""></div>
        <div id="u1528_text" class="text ">
          <p><span>Banyan Data</span></p>
        </div>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u1529" class="ax_default line">
        <img id="u1529_img" class="img " src="images/网站首页/u129.png"/>
      </div>

      <!-- Unnamed (Horizontal Line) -->
      <div id="u1530" class="ax_default line">
        <img id="u1530_img" class="img " src="images/网站首页/u129.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1531" class="ax_default _默认样式">
        <div id="u1531_div" class=""></div>
        <div id="u1531_text" class="text ">
          <p><span style="font-family:'LucidaGrande', 'Lucida Grande';">About </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">Us</span></p>
        </div>
      </div>

      <!-- 新建文件 (Dynamic Panel) -->
      <div id="u1532" class="ax_default" data-label="新建文件">
        <div id="u1532_state0" class="panel_state" data-label="新建文件" style="">
          <div id="u1532_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u1533" class="ax_default _默认样式">
              <div id="u1533_div" class=""></div>
              <div id="u1533_text" class="text ">
                <p></p><p></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u1534" class="ax_default" data-left="255" data-top="633" data-width="223" data-height="44">

              <!-- Unnamed (Group) -->
              <div id="u1535" class="ax_default" data-left="255" data-top="633" data-width="223" data-height="44">

                <!-- Unnamed (Group) -->
                <div id="u1536" class="ax_default" data-left="255" data-top="633" data-width="223" data-height="44">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1537" class="ax_default _默认样式">
                    <div id="u1537_div" class=""></div>
                    <div id="u1537_text" class="text ">
                      <p><span>submit</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1538" class="ax_default _默认样式">
                    <div id="u1538_div" class=""></div>
                    <div id="u1538_text" class="text ">
                      <p><span>cancel</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1539" class="ax_default _默认样式">
              <div id="u1539_div" class=""></div>
              <div id="u1539_text" class="text ">
                <p><span>请输入文件标题</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1540" class="ax_default _默认样式">
              <div id="u1540_div" class=""></div>
              <div id="u1540_text" class="text ">
                <p><span>Title：</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1541" class="ax_default _默认样式">
              <div id="u1541_div" class=""></div>
              <div id="u1541_text" class="text ">
                <p><span>Description：</span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u1542" class="ax_default" data-left="120" data-top="88" data-width="580" data-height="160">

              <!-- Unnamed (Rectangle) -->
              <div id="u1543" class="ax_default _默认样式">
                <div id="u1543_div" class=""></div>
                <div id="u1543_text" class="text ">
                  <p><span>请输入文件描述</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u1544" class="ax_default _默认样式">
                <div id="u1544_div" class=""></div>
                <div id="u1544_text" class="text ">
                  <p><span>已输入0/1000</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1545" class="ax_default _默认样式">
              <div id="u1545_div" class=""></div>
              <div id="u1545_text" class="text ">
                <p><span>Youtube授权：</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u1546" class="ax_default icon">
              <img id="u1546_img" class="img " src="images/上传视频/u1546.png"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1547" class="ax_default _默认样式">
              <div id="u1547_div" class=""></div>
              <div id="u1547_text" class="text ">
                <p><span>请输入文件标题</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1548" class="ax_default _默认样式">
              <div id="u1548_div" class=""></div>
              <div id="u1548_text" class="text ">
                <p><span>Links：</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1549" class="ax_default _默认样式">
              <div id="u1549_div" class=""></div>
              <div id="u1549_text" class="text ">
                <p><span>请输入文件标题</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1550" class="ax_default _默认样式">
              <div id="u1550_div" class=""></div>
              <div id="u1550_text" class="text ">
                <p><span>Tags：</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1551" class="ax_default button">
              <div id="u1551_div" class=""></div>
              <div id="u1551_text" class="text ">
                <p><span>btc</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1552" class="ax_default button">
              <div id="u1552_div" class=""></div>
              <div id="u1552_text" class="text ">
                <p><span>npl</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1553" class="ax_default button">
              <div id="u1553_div" class=""></div>
              <div id="u1553_text" class="text ">
                <p><span>deep learning</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1554" class="ax_default button">
              <div id="u1554_div" class=""></div>
              <div id="u1554_text" class="text ">
                <p><span>btc</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1555" class="ax_default button">
              <div id="u1555_div" class=""></div>
              <div id="u1555_text" class="text ">
                <p><span>npl</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1556" class="ax_default button">
              <div id="u1556_div" class=""></div>
              <div id="u1556_text" class="text ">
                <p><span>deep learning</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
