<!DOCTYPE html>
<html>
  <head>
    <title>用户注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=1440, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="data/apple-touch-icon.png" rel="apple-touch-icon"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/用户注册/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/用户注册/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (精简底部) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1558" class="ax_default _默认样式">
        <img id="u1558_img" class="img " src="images/用户注册/u1558.png"/>
        <div id="u1558_text" class="text ">
          <p><span>Copyright © </span><a id="u1559" class="link" title="点击打开www.AxureUX.com"><span>www.BanyanNetwork.com</span></a><span>, All Rights Reserved.</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1560" class="ax_default _默认样式">
        <div id="u1560_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1561" class="ax_default _默认样式">
        <div id="u1561_div" class=""></div>
        <div id="u1561_text" class="text ">
          <p><span style="font-family:'AdobeKaitiStd-Regular', 'Adobe Kaiti Std R', 'Adobe Kaiti Std';font-weight:400;font-size:12px;color:#515151;">Already have an account?</span><span style="font-family:'MicrosoftYaHei', '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-weight:700;color:#0079FE;"> Log in</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1562" class="ax_default _默认样式">
        <div id="u1562_div" class=""></div>
        <div id="u1562_text" class="text ">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- 独立复选框 (Group) -->
      <div id="u1563" class="ax_default" data-label="独立复选框" data-left="536" data-top="490" data-width="256" data-height="40">

        <!-- text (Rectangle) -->
        <div id="u1564" class="ax_default _默认样式" data-label="text">
          <div id="u1564_div" class=""></div>
          <div id="u1564_text" class="text ">
            <p><span style="color:#999999;">click to agree《</span><a id="u1565" class="link"><span>user</span></a><span style="color:#999999;"> agreement》</span></p>
          </div>
        </div>

        <!-- 复选图标 (Rectangle) -->
        <div id="u1566" class="ax_default _默认样式" data-label="复选图标">
          <img id="u1566_img" class="img " src="images/用户注册/复选图标_u1566.png"/>
          <div id="u1566_text" class="text ">
            <p><span> </span></p>
          </div>
        </div>
      </div>

      <!-- 输入框 (Group) -->
      <div id="u1567" class="ax_default" data-label="输入框" data-left="476" data-top="216" data-width="350" data-height="50">

        <!-- 边框 (Rectangle) -->
        <div id="u1568" class="ax_default _默认样式" data-label="边框">
          <img id="u1568_img" class="img " src="images/用户注册/边框_u1568.png"/>
        </div>

        <!-- 输入框 (Text Field) -->
        <div id="u1569" class="ax_default _默认样式" data-label="输入框">
          <input id="u1569_input" type="text" value="" maxlength="20"/>
        </div>

        <!-- 清除 (Rectangle) -->
        <div id="u1570" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
          <div id="u1570_div" class=""></div>
          <div id="u1570_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- 图标 (Rectangle) -->
        <div id="u1571" class="ax_default _默认样式" data-label="图标">
          <div id="u1571_div" class=""></div>
          <div id="u1571_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- 输入框 (Group) -->
      <div id="u1572" class="ax_default" data-label="输入框" data-left="476" data-top="285" data-width="350" data-height="50">

        <!-- 边框 (Rectangle) -->
        <div id="u1573" class="ax_default _默认样式" data-label="边框">
          <img id="u1573_img" class="img " src="images/用户注册/边框_u1568.png"/>
        </div>

        <!-- 输入框 (Text Field) -->
        <div id="u1574" class="ax_default _默认样式" data-label="输入框">
          <input id="u1574_input" type="text" value="" maxlength="20"/>
        </div>

        <!-- 清除 (Rectangle) -->
        <div id="u1575" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
          <div id="u1575_div" class=""></div>
          <div id="u1575_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- 图标 (Rectangle) -->
        <div id="u1576" class="ax_default _默认样式" data-label="图标">
          <div id="u1576_div" class=""></div>
        </div>
      </div>

      <!-- 输入框 (Group) -->
      <div id="u1577" class="ax_default" data-label="输入框" data-left="476" data-top="352" data-width="350" data-height="50">

        <!-- 边框 (Rectangle) -->
        <div id="u1578" class="ax_default _默认样式" data-label="边框">
          <img id="u1578_img" class="img " src="images/用户注册/边框_u1568.png"/>
        </div>

        <!-- 输入框 (Text Field) -->
        <div id="u1579" class="ax_default _默认样式" data-label="输入框">
          <input id="u1579_input" type="password" value="" maxlength="20"/>
        </div>

        <!-- 清除 (Rectangle) -->
        <div id="u1580" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
          <div id="u1580_div" class=""></div>
          <div id="u1580_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- 图标 (Rectangle) -->
        <div id="u1581" class="ax_default _默认样式" data-label="图标">
          <div id="u1581_div" class=""></div>
          <div id="u1581_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- 输入框 (Group) -->
      <div id="u1582" class="ax_default" data-label="输入框" data-left="476" data-top="422" data-width="350" data-height="50">

        <!-- 边框 (Rectangle) -->
        <div id="u1583" class="ax_default _默认样式" data-label="边框">
          <img id="u1583_img" class="img " src="images/用户注册/边框_u1568.png"/>
        </div>

        <!-- 输入框 (Text Field) -->
        <div id="u1584" class="ax_default _默认样式" data-label="输入框">
          <input id="u1584_input" type="password" value="" maxlength="20"/>
        </div>

        <!-- 清除 (Rectangle) -->
        <div id="u1585" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
          <div id="u1585_div" class=""></div>
          <div id="u1585_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- 图标 (Rectangle) -->
        <div id="u1586" class="ax_default _默认样式" data-label="图标">
          <div id="u1586_div" class=""></div>
          <div id="u1586_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- 提交按纽 (Group) -->
      <div id="u1587" class="ax_default" data-label="提交按纽" data-left="476" data-top="542" data-width="350" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u1588" class="ax_default _默认样式">
          <div id="u1588_div" class=""></div>
          <div id="u1588_text" class="text ">
            <p><span>Rigister</span></p>
          </div>
        </div>

        <!-- 加载图标 (SVG) -->
        <div id="u1589" class="ax_default image ax_default_hidden" data-label="加载图标" style="display:none; visibility: hidden">
          <img id="u1589_img" class="img " src="images/用户注册/加载图标_u1589.svg"/>
        </div>
      </div>

      <!-- 图标 (Rectangle) -->
      <div id="u1590" class="ax_default _默认样式" data-label="图标">
        <div id="u1590_div" class=""></div>
        <div id="u1590_text" class="text ">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
