<!DOCTYPE html>
<html>
  <head>
    <title>登录页面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=1440, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="data/apple-touch-icon.png" rel="apple-touch-icon"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/登录页面/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/登录页面/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 登录对话框 (Dynamic Panel) -->
      <div id="u1639" class="ax_default" data-label="登录对话框">
        <div id="u1639_state0" class="panel_state" data-label="账号登录" style="">
          <div id="u1639_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u1640" class="ax_default _默认样式">
              <div id="u1640_div" class=""></div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u1641" class="ax_default" data-left="55" data-top="362" data-width="350" data-height="50">

              <!-- Unnamed (Rectangle) -->
              <div id="u1642" class="ax_default _默认样式">
                <div id="u1642_div" class=""></div>
                <div id="u1642_text" class="text ">
                  <p><span>登录</span></p>
                </div>
              </div>

              <!-- 加载图标 (SVG) -->
              <div id="u1643" class="ax_default image ax_default_hidden" data-label="加载图标" style="display:none; visibility: hidden">
                <img id="u1643_img" class="img " src="images/用户注册/加载图标_u1589.svg"/>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1644" class="ax_default _默认样式">
              <div id="u1644_div" class=""></div>
              <div id="u1644_text" class="text ">
                <p><span>REGISTER</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1645" class="ax_default _默认样式">
              <div id="u1645_div" class=""></div>
              <div id="u1645_text" class="text ">
                <p><span>FORGET PASSWORD</span></p>
              </div>
            </div>

            <!-- 输入框 (Group) -->
            <div id="u1646" class="ax_default" data-label="输入框" data-left="55" data-top="222" data-width="350" data-height="50">

              <!-- 边框 (Rectangle) -->
              <div id="u1647" class="ax_default _默认样式" data-label="边框">
                <img id="u1647_img" class="img " src="images/用户注册/边框_u1568.png"/>
              </div>

              <!-- 输入框 (Text Field) -->
              <div id="u1648" class="ax_default _默认样式" data-label="输入框">
                <input id="u1648_input" type="text" value="" maxlength="20"/>
              </div>

              <!-- 清除 (Rectangle) -->
              <div id="u1649" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
                <div id="u1649_div" class=""></div>
                <div id="u1649_text" class="text ">
                  <p><span></span></p>
                </div>
              </div>

              <!-- 图标 (Rectangle) -->
              <div id="u1650" class="ax_default _默认样式" data-label="图标">
                <div id="u1650_div" class=""></div>
                <div id="u1650_text" class="text ">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- 输入框 (Group) -->
            <div id="u1651" class="ax_default" data-label="输入框" data-left="55" data-top="292" data-width="350" data-height="50">

              <!-- 边框 (Rectangle) -->
              <div id="u1652" class="ax_default _默认样式" data-label="边框">
                <img id="u1652_img" class="img " src="images/用户注册/边框_u1568.png"/>
              </div>

              <!-- 输入框 (Text Field) -->
              <div id="u1653" class="ax_default _默认样式" data-label="输入框">
                <input id="u1653_input" type="password" value="" maxlength="20"/>
              </div>

              <!-- 清除 (Rectangle) -->
              <div id="u1654" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
                <div id="u1654_div" class=""></div>
                <div id="u1654_text" class="text ">
                  <p><span></span></p>
                </div>
              </div>

              <!-- 图标 (Rectangle) -->
              <div id="u1655" class="ax_default _默认样式" data-label="图标">
                <div id="u1655_div" class=""></div>
                <div id="u1655_text" class="text ">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- 独立复选框 (Group) -->
            <div id="u1656" class="ax_default" data-label="独立复选框" data-left="55" data-top="425" data-width="176" data-height="40">

              <!-- text (Rectangle) -->
              <div id="u1657" class="ax_default _默认样式" data-label="text">
                <div id="u1657_div" class=""></div>
                <div id="u1657_text" class="text ">
                  <p><span>REMEMBER ME</span></p>
                </div>
              </div>

              <!-- 复选图标 (Rectangle) -->
              <div id="u1658" class="ax_default _默认样式" data-label="复选图标">
                <img id="u1658_img" class="img " src="images/登录页面/复选图标_u1658.png"/>
                <div id="u1658_text" class="text ">
                  <p><span> </span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1659" class="ax_default _默认样式">
              <div id="u1659_div" class=""></div>
              <div id="u1659_text" class="text ">
                <p><span>LOGO</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (精简底部) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1661" class="ax_default _默认样式">
        <img id="u1661_img" class="img " src="images/用户注册/u1558.png"/>
        <div id="u1661_text" class="text ">
          <p><span>Copyright © </span><a id="u1662" class="link" title="点击打开www.AxureUX.com"><span>www.BanyanNetwork.com</span></a><span>, All Rights Reserved.</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
