<!DOCTYPE html>
<html>
  <head>
    <title>设置新密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=1440, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="data/apple-touch-icon.png" rel="apple-touch-icon"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/设置新密码/styles.css" type="text/css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/设置新密码/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u1680" class="ax_default _默认样式">
        <div id="u1680_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1681" class="ax_default _默认样式">
        <div id="u1681_div" class=""></div>
        <div id="u1681_text" class="text ">
          <p><span>设置新密码</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1682" class="ax_default _默认样式">
        <div id="u1682_div" class=""></div>
        <div id="u1682_text" class="text ">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1683" class="ax_default _默认样式">
        <div id="u1683_div" class=""></div>
        <div id="u1683_text" class="text ">
          <p><span>下一步</span></p>
        </div>
      </div>

      <!-- 输入框 (Group) -->
      <div id="u1684" class="ax_default" data-label="输入框" data-left="477" data-top="350" data-width="350" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u1685" class="ax_default _默认样式">
          <div id="u1685_div" class=""></div>
          <div id="u1685_text" class="text ">
            <p><span>设置设置6至20位登录密码</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1686" class="ax_default _默认样式">
          <div id="u1686_div" class=""></div>
          <div id="u1686_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- 输入框 (Group) -->
      <div id="u1687" class="ax_default" data-label="输入框" data-left="477" data-top="420" data-width="350" data-height="50">

        <!-- Unnamed (Rectangle) -->
        <div id="u1688" class="ax_default _默认样式">
          <div id="u1688_div" class=""></div>
          <div id="u1688_text" class="text ">
            <p><span>请再次输入登录密码</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1689" class="ax_default _默认样式">
          <div id="u1689_div" class=""></div>
          <div id="u1689_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (精简底部) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1691" class="ax_default _默认样式">
        <img id="u1691_img" class="img " src="images/用户注册/u1558.png"/>
        <div id="u1691_text" class="text ">
          <p><span>Copyright © </span><a id="u1692" class="link" title="点击打开www.AxureUX.com"><span>www.BanyanNetwork.com</span></a><span>, All Rights Reserved.</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
